Source: ros-eloquent-fastrtps
Section: misc
Priority: extra
Maintainer: Steven! Ragnarök <stevenragnarok@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libasio-dev, libtinyxml2-dev, ros-eloquent-fastcdr, ros-eloquent-foonathan-memory-vendor, ros-eloquent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-fastrtps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, libtinyxml2-dev, ros-eloquent-fastcdr, ros-eloquent-foonathan-memory-vendor, ros-eloquent-ros-workspace
Description: Implementation of RTPS standard.
