Source: ros-galactic-fastrtps
Section: misc
Priority: optional
Maintainer: Steven! Ragnarök <stevenragnarok@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libasio-dev, libssl-dev, libtinyxml2-dev, ros-galactic-fastcdr, ros-galactic-foonathan-memory-vendor, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-fastrtps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, libtinyxml2-dev, ros-galactic-fastcdr, ros-galactic-foonathan-memory-vendor, ros-galactic-ros-workspace
Description: Implementation of RTPS standard.
